@use "../custom" as *;

@font-face {
	font-family: "poppins";
	src: url("../../../public/font/Poppins-Medium.ttf") format(truetype);
}

@font-face {
	font-family: "poppins-regular";
	src: url("../../../public/font/Poppins-Regular.ttf") format(truetype);
}
@font-face {
	font-family: "poppins-bold";
	src: url("../../../public/font/Poppins-Bold.ttf") format(truetype);
}

.font-navbar {
	font-family: "poppins", sans-serif;
	font-size: 14px;
	// margin: 0 2rem;

	.dropdown-menu {
		.dropdown-item {
			font-size: 13px;
		}
	}

	&--credential {
		.nav-link {
			a {
				text-decoration: none;
				color: $black;
				margin: 0 0.5rem;
				display: inline-block;

				&:hover {
					border: 0.1rem solid rgba($orange, 0.8);
					color: white;
					padding: 3px 4px;
				}
			}
		}
	}
}

.text-black {
	color: $black;
}
.text-orange {
	color: $orange;
}
