@use "../custom"as *;
@use"../components/mixins.scss" as mixins;

html{
	scroll-behavior: smooth;
}
.navbar-scroll {
        background-color: rgba(white, 0.8);
      
}

.navbar-brand{
    margin-left:0rem;
    
    @include media-breakpoint-up(md) {
        margin-left: 2.5rem;

     }

   
}

.navbar{
    transition: all .3s;
    padding-left: 0;
    padding-right: 0;
	
}


.back-to-top {
	position: fixed;
	right: 1.875rem;
	bottom: 1.875rem;
	z-index: 9999;
	width: 3rem;
	height: 3rem;
	transition: all .2s;

 
	.icons {
	   color: white;
	   font-size: 1rem;
	   @include mixins.absoluteCenter;
	}
}